//FONTS IMPORT
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&family=Open+Sans&display=swap');

//VARIABLES
//Fonts
$font-main: 'Lato', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-hero-title: 'Raleway', sans-serif;

//Colors
$color-main: #232c36;
$color-secondary: #ccd7e3;
$color-tertiary: #4b74a3;
$color-complementary: #6e8ffc;
$color-accent: #e0ab42;
$color-accent-light: #f5be51;
$box-shadow: 1px 1px 5px 1px #1f262cb9;
// $box-shadow: 1px 1px 5px 1px #2a3642be;
$font-size-title: 1.8rem;
$font-size-normal: 1.4rem;

//BASE
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  font-family: $font-main;
  background-color: $color-main;
  color: $color-secondary;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

//NAVBAR
nav {
  font-family: $font-secondary;
  position: fixed;
  width: 100%;
  background-color: $color-secondary;
  height: 55px;
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
  color: $color-main;
  box-shadow: $box-shadow;
  z-index: 1;

  .em-logo {
    width: 160px;
    position: relative;
  }

  .em-logo img {
    position: absolute;
    top: 32px;
  }

  .menu-items {
    display: flex;
    align-items: center;
    font-size: $font-size-normal;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      width: 30rem;

      //Menu items hover
      li {
        &:hover {
          color: #1f262cb9;
        }
      }
    }
  }

  .hamburger-menu {
    background: url('../images/icons/hamburger-menu.svg') center/contain
      no-repeat;
    width: 3.4rem;
    display: none;
  }
}

//HERO
.hero-img {
  background: url('../images/hero-large.jpg') no-repeat center/cover;
  max-width: 100%;
  height: 100vh;

  .hero-title {
    color: #e6dfcc;
    width: 36%;
    font-family: $font-hero-title;
    font-size: $font-size-normal;
    padding: 30rem 0 0 10rem;

    h2 {
      border: 2px solid #6e8ffc00;
      border-radius: 8px;
      background-color: #6e8ffc18;
      padding: 3rem;
    }
  }

  //Scroll icon
  //May be tweaked or deleted
  .icon-scroll {
    background: url('../images/icons/icon-scroll-inverseb.svg') center/contain
      no-repeat;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 3rem;
    height: 3rem;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
  }
}

.front-figure {
  padding: 1rem;

  #image {
    width: 2rem;
  }
}

//INFO SECTION
.info {
  background-color: $color-secondary;
  color: $color-main;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//SONGS GRID (VIDEOS)
.songs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2.2rem;
}

.songs div {
  min-width: 360px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}

.songs div iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

//DISCOGRAPHY
.discography {
  font-size: $font-size-normal;

  .album {
    padding: 2rem;
  }
}

//FOOTER
footer {
  font-family: $font-secondary;
  background-color: $color-secondary;
  font-size: $font-size-normal;
  box-shadow: $box-shadow;

  .footer-columns {
    color: $color-main;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem;
    text-align: left;

    ul {
      list-style-type: none;
      display: inline-block;

      //Footer titles
      li:first-child {
        font-size: 1.6rem;
        font-weight: bold;
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #232c3675;
        margin-bottom: 1rem;
      }
      //Footer links
      li {
        padding: 0.4rem;
      }
    }
  }

  .footer-bottom {
    font-family: $font-main;
    color: $color-main;
    background-color: #bac6d1;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

//UTILITY CLASSES
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: $font-size-title;
  text-transform: uppercase;
}

.mb {
  margin-bottom: 4rem;
}

.text-title {
  padding: 2rem;
  font-size: $font-size-title;
  max-width: 56rem;
  line-height: 2.5rem;
}

.text-center {
  text-align: center;
}

// Buttons
.btn {
  display: inline-block;
  padding: 1.2rem 3.6rem;
  font-size: 1.1rem;
  color: $color-secondary;
  border-radius: 1px;

  font-weight: 600;

  box-shadow: $box-shadow;
}

.btn-accent {
  color: $color-main;
  background-color: $color-accent;

  &:hover {
    background-color: $color-accent-light;
  }
}
// Scroll-to-top button
#top-btn {
  background-color: $color-accent;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;

  &:hover {
    background-color: $color-accent-light;
  }

  .icon-scroll-top {
    background: url('../images/icons/icon-scroll-top.svg') center/contain
      no-repeat;
    width: 60%;
    height: 100%;
    margin: 0 auto;
  }
}

#top-btn.show {
  opacity: 1;
  visibility: visible;
}

.icon-scroll.show {
  opacity: 1;
  visibility: visible;
}

/* MEDIA QUERIES */
//Title
@media screen and (max-width: 1200px) {
  .hero-title {
    display: none;
  }
}

//Navbar
@media screen and (max-width: 640px) {
  .em-logo {
    display: none;
  }

  nav .menu-items {
    display: none;
  }

  nav {
    //Move burger to the right side
    justify-content: flex-end;

    //Show hamburger
    .hamburger-menu {
      display: block;
      cursor: pointer;
    }
  }
}

//Footer
@media screen and (max-width: 530px) {
  footer .footer-columns {
    grid-template-columns: auto;
  }
}

//Videos
@media screen and (max-width: 419px) {
  .songs {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

    div {
      min-width: 160px;
    }
  }
}
