/* 
#232c36, #ccd7e3, #4b74a3, #6e8ffc, #e0ab42
*/

/* FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@500&family=Rubik:ital,wght@1,300&display=swap');

/* 
font-family: 'Red Hat Text', sans-serif;
font-family: 'Rubik', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  background-color: #232c36;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

/* UTILITY CLASSES */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
  text-align: center;
}

/* NAVBAR */
nav {
  background-color: #ccd7e3;
  height: 55px;
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  justify-content: space-between;
}

.em-logo {
  width: 160px;
  position: relative;
}

.em-logo img {
  position: absolute;
  top: 32px;
}

.menu-items {
  display: flex;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 1.4rem;
}

.menu-items ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 30rem;
}

/* HERO */
.hero-img {
  background: url('images/hero-large.jpg') no-repeat center/cover;
  max-width: 100%;
  height: 100vh;
}

#img-div {
  margin: 5rem auto;
}

.hero-title {
  color: #e6dfcc;
  width: 30%;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 46vh;
  margin-left: 13vh;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .hero-title {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .em-logo {
    display: none;
  }
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

/* SONGS GRID */
.songs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.songs div {
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}

.songs div iframe {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 0;
}
